<nz-layout>
  <nz-layout style="margin-left: 200">
      <nz-header style="position:fixed; width:100%;background: #fff; padding:0;z-index:1000">
      <span class="logo">PizzaApp</span>
      <span style="float: right; padding-right:20px;">
          1800 2500 1235<i nz-icon nzType="phone" nzTheme="outline"></i>
          <nz-badge nzCount="{{totalBuys}}" nzShowZero=true>
              <i routerLink="/cart" routerLinkActive="active" nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          </nz-badge>
          <i routerLink="/login" routerLinkActive="active" nz-icon nzType="user" nzTheme="outline"></i>
      </span>
    </nz-header>
    <nz-content style="margin:24px 16px;">
      <div style="display:flex;padding: 24px; background: #fff;margin-top:64px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>PizzaApp ©2019</nz-footer>
  </nz-layout>
</nz-layout>