.logo {
    /* height: 32px; */
    /* background: rgba(255, 255, 255, 0.2); */
    margin-top: 16px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 16px;
    text-align: center;
    border-bottom: solid 1px white;
  }

  nz-header i {
    padding-left: 10px;
    font-size: 24px;
  }